@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bitter', serif;
}

html,
body,
#root {
	min-height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	min-width: 100%;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
}

.navigationbar-link {
	color: white;
}

.header-title-link,
.header-title-link:hover {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit;
	font-style: inherit;
}

.btn {
	width: 8rem;
}

.active {
	background-color: white;
	color: black;
}

.border-black-2 {
	border: 2px solid black;
}

.review {
	width: 18rem;
	height: 20rem;
}

.action-card {
	width: 18rem;
	height: 20rem;
}

.review-image {
	width: 17.7rem;
	height: 12rem;
	object-fit: cover;
}

.cursor-clickable {
	cursor: pointer;
}

.star-rating-div span {
	margin: 0.1rem;
}

.signin-container {
	background-color: indianred;
	width: 30rem;
	height: 24rem;
	margin-top: 5rem;
	border-radius: 25px;
}
