@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bitter', serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	min-width: 100%;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
}

.navigationbar-link {
	color: white;
}

.active {
	background-color: white;
	color: black;
}

.review {
	width: 18rem;
	height: 20rem;
}

.action-card {
	width: 18rem;
	height: 20rem;
}

.review-image {
	width: 18rem;
	height: 12rem;
	object-fit: cover;
}

.cursor-clickable {
	cursor: pointer;
}

.star-rating-div span {
	margin: 0.1rem;
}
